# Log filename
log_file: /var/log/rabbitd.log

# Set verbosity
# Could be: quiet, normal, verbose, very_verbose or debug
verbosity: very_verbose

# Set PID file
pid_file: /var/run/rabbitd.pid

connections:
    default:
        hostname: localhost
        port: 5672
        username: guest
        password: guest

# Queues
# RabbitMQ connection paramters
queues:
    tasks:
        connection: default
        queue_name: task_queue          # Queue name
        exchange:                       # Connect this queue to an exchange
            name: exchange_1
            type: fanout
        worker:
            processes: 1                # Process count per queue
            user: nobody                # Execute this child as
            group: nogroup

# Symfony app executable
symfony_app: /path/to/syfmony/app/console

# Execution options
master:
    user: root
    group: nogroup
